.ballon{
    background-color: rgb(94, 255, 0);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 20px;
}

.greenballon{
    background-color: rgb(228, 231, 31);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 20px;
}
.fontcolor{
    color: wheat;
}